<div class="container">
  <h3>Write a New Review</h3>
</div>
<div class="container my-3">
  <%= simple_form_for [@restaurant, @review] do |f| %>
  	<%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>